<footer class="main-footer">
    <div class="container">
      <div class="box direccion-box">
        <h3>Dirección</h3>
        <p>123 Calle Principal, Ciudad, País</p>
      </div>
  
      <div class="box correo-box">
        <h3>Correo Electrónico</h3>
        <p>infoexample.com</p>
      </div>
  
      <div class="box telefonos-box">
        <h3>Teléfonos</h3>
        <ul>
          <li>(123) 456-7890</li>
          <li>(098) 765-4321</li>
        </ul>
      </div>
    </div>
  </footer>
  